#head {
  width: 100%;
  height: 50px;
  background-color: #3b5998;
  margin: 0;
  max-width: 100%;
  left: 0;
  right: 0;
  justify-content: center;
  text-align: center;
}

a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#ic10 {
  margin-top: 9px;
}

body {
  background-color: #eceff5;
}
#para {
  color: #91959d;
  width: 270px;
}

.input {
  display: inline-block;
  width: 320px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:nth-child(2) {
  margin-left: 0;
}

#username {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 25px;
  border: 1px solid #d2d5dc;
border-bottom: 0.02px solid #d2d5dc;
}
#password{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 25px;
  border-top: 0.02px solid #d2d5dc;
  border: 1px solid #d2d5dc;
}
#btn{
  height: 35px;
  width: 340px;
  color: white;
  background-color: #1878f3;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
